# Autotools
/autom4te.cache
/config.*
/configure
/install-sh
/missing

# Build artifacts
*.o
*.out
.buildlib_*
make.depend
make.include
/bin/align
/bin/bcat
/bin/ch_lab
/bin/ch_track
/bin/ch_utt
/bin/ch_wave
/bin/design_filter
/bin/dp
/bin/est_examples
/bin/est_gdb
/bin/est_program
/bin/make_wagon_desc
/bin/na_play
/bin/na_record
/bin/ngram_build
/bin/ngram_test
/bin/ols
/bin/ols_test
/bin/pda
/bin/pitchmark
/bin/pm
/bin/raw_to_xgraph
/bin/resynth
/bin/scfg_make
/bin/scfg_parse
/bin/scfg_test
/bin/scfg_train
/bin/sig2fv
/bin/sigfilter
/bin/siod
/bin/spectgen
/bin/tilt_analysis
/bin/tilt_synthesis
/bin/viterbi
/bin/wagon
/bin/wagon_test
/bin/wfst_build
/bin/wfst_run
/bin/wfst_train
/bin/xml_parser
/build.log
/config/config
/config/modincludes.inc
/config/system.mak
/config/user_flags.mak
/lib/est_mainline
/lib/est_program_makefile
/lib/libestbase.a
/lib/libestools.a
/lib/libeststring.a
/main/align
/main/bcat
/main/ch_lab
/main/ch_track
/main/ch_utt
/main/ch_wave
/main/design_filter
/main/dp
/main/na_play
/main/na_record
/main/ngram_build
/main/ngram_test
/main/ols
/main/ols_test
/main/pda
/main/pitchmark
/main/scfg_make
/main/scfg_parse
/main/scfg_test
/main/scfg_train
/main/sig2fv
/main/sigfilter
/main/siod
/main/spectgen
/main/tilt_analysis
/main/tilt_synthesis
/main/viterbi
/main/wagon
/main/wagon_test
/main/wfst_build
/main/wfst_run
/main/wfst_train
/main/xml_parser
/testsuite/.test_out
/testsuite/complex_example
/testsuite/complex_regression
/testsuite/deq_example
/testsuite/deq_regression
/testsuite/feature_example
/testsuite/feature_regression
/testsuite/handle_example
/testsuite/handle_regression
/testsuite/hash_example
/testsuite/hash_regression
/testsuite/kvl_example
/testsuite/kvl_regression
/testsuite/ling_example
/testsuite/ling_regression
/testsuite/list_example
/testsuite/list_regression
/testsuite/named_enum_example
/testsuite/named_enum_regression
/testsuite/pathname_example
/testsuite/pathname_regression
/testsuite/string_example
/testsuite/string_regression
/testsuite/tmp/
/testsuite/token_example
/testsuite/token_regression
/testsuite/track_example
/testsuite/track_regression
/testsuite/xml_example
/testsuite/xml_regression
